<div class="mb-5"> 
	<span href="#" class="link-title p-2 pl-4">
		Historique des commandes
	</span>
</div>

<div class="table-order text-center">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="p-1" scope="col">Commande</th>
				<th class="p-1" scope="col">Montant</th>
				<th class="p-1" scope="col">Statut</th>
				<th class="p-1" scope="col">Date</th>
				<th class="p-1" scope="col">Payement</th>
			</tr>
		</thead>
		<tbody>
			<% for (var i=0; i< orders.length; i++) { 
				switch (orders[i].state) {
                    case "waiting":
                        var color = "orange";
                        var text = "En attente";
                        break;
                    case "confirmed":
                        var color = "green";
                        var text = "En préparation";
                        break;
                    case "shipped":
                        var color = "blue";
                        var text = "Envoyée";
                        break;
                } %>
				<tr>
					<td><a href="/order-detail/<%= orders[i].id %>"><%= orders[i].id %></a></td>
					<td><%= orders[i].total_cost %>€</td>
					<td style="color: <%= color %>;"><%= text %></td>
					<td><%= orders[i].date.getDate() %>/<%=orders[i].date.getMonth()+1%>/<%= orders[i].date.getFullYear() %></td>
					<td><%= orders[i].payment_method %></td>
				</tr>
			<% } %>

		</tbody>
	</table>
</div>

<script type="text/javascript">
</script>