<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <!--<link rel="stylesheet" type="text/css" href="/css/style-product.css">-->
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <link rel="stylesheet" type="text/css" href="/css/style-cart.css">
        <title>YDOGBE</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main class="bg-light py-5">
            <div class="jumbotron bg-light m-0 w-100 text-center">
                <a class="logo-img" href="/mainpage">
                    <img class="col-md-5" src="/img/logo1.png">
                </a>
            </div>
    		<div class="container-fluid row m-0">
    			<div class="cart-left col-md-8 px-md-5 mb-5">

    				<div class="cart-pannel-main container">
                        <% if (session.cart) {
                            var price_total = 0;
                            for (var i=0; i < session.cart.products.length; i++) { 
                                var price_product = parseFloat(session.cart.products[i].price);
                                var cart_qty = parseInt(session.cart.products[i].cart_qty); %>
                                <div class="cart-product row align-items-center" product_id="<%= session.cart.products[i].id %>">
                                	<div class="cart-product-img p-2 col-3">
                                		<img class="w-100" src="/img/<%= session.cart.products[i].img %>">
                                	</div>
                                	<div class="cart-product-name col-md-5 col">
                                		<a href="/product/<%= session.cart.products[i].id %>"><%= session.cart.products[i].name %></a>
                                	</div>
                                	<div class="w-100 d-md-none d-block"></div>
                                	<div class="cart-product-qty col-md-2 offset-md-0 offset-3 col-4">
                                		<input type="number" value="<%= session.cart.products[i].cart_qty %>" min="1" max="99" step="1"/>
                                	</div>
                                	<div class="cart-product-price col-md-1 col-3" product_price="<%= session.cart.products[i].price %>">
                                		<span><%= price_product*cart_qty %>€</span>
                                        <% price_total += price_product*cart_qty %>
                                	</div>
                                	<div class="product-remove col-md-1 col-1">
                                    <form class="form-remove-cart col-1" action="/remove-cart" method="post" product_id="<%= session.cart.products[i].id %>">
                                		<button type="submit" class="close" aria-label="Close">
                                        	<span aria-hidden="true">&times;</span>
                                    	</button>
                                    </form>
                                	</div>     
                                </div>
                                <div class="w-100 border-bottom my-3"></div>
                            <% } %>
                            <form action="/valid-cart" method="post" class="mt-5 text-center">
                                <button class="w-auto btn btn-secondary mb-3 payout-button" type="submit" name="valid-cart">
                                    Valider le panier
                                </button>
                            </form>
                        <% } else { %>
                            <div class="cart-empty text-center row"> 
                                <span class="col mt-5">Aucun produit dans le panier ...</span>
                            </div>
                        <% } %>
              		</div>
    			</div>
    			
    			<!---------------------------------------------------------------------->

                <% if (session.cart) {
                    var shipping_price = 4.95;
                    price_total = price_total;
                    var price_final = (price_total+shipping_price).toFixed(2);
                } else {
                    var shipping_price = 0;
                    price_total = 0;
                    var price_final = 0;
                } 
                %>
	    		<div class="cart-payout col-md-4">
	    			<div class="sticky-top sticky-offset bg-light shadow rounded p-4">
	    				<div class="row">
	    					<span class="title col-5">TOTAL PANIER</span>
		    			</div>
		    			<div class="w-100 border-bottom my-3"></div>
		    			<div class="row py-3">
		    				<span class="title col-5">SOUS-TOTAL</span>
		    				<span class="price price-sub-total"><%= price_total %>€</span>
		    			</div>
		    			<div class="row py-3">
		    				<span class="title col-5">LIVRAISON</span>
		    				<span class="price price-shipping"><%= shipping_price %>€</span>
		    			</div>
		    			<div class="w-100 border-bottom my-3"></div>
		    			<div class="row pb-5">
			    			<span class="title total col-5">TOTAL</span>
			    			<span class="price price-total"><%=  price_final %>€</span>
			    		</div>
			    		<div class="text-center">
                            <form action="/payout" method="post" class="">
    				    		<button class="w-100 btn btn-dark mb-3 payout-button <% if (!price_final) { %> disabled <% } %>" type="submit" name="add-cart">
    		    					Passer au payement
    		    				</button>
                            </form>
		    				<a href="/mainpage" class="btn btn-light" role="button" name="add-cart">
		    					Continuer les achats
		    				</a>
	    				</div>
	    			</div>
	    		</div>

	    		<!---------------------- MOBILE ONLY ---------------------------->
	    		<!--<div class="fixed-bottom product-payout d-md-none d-none w-100 p-3 bg-light shadow-lg">
    				<div class="row mx-2 mb-2">
    					<span class="title-product col-10 p-0">(1966) CHINE : T-Shirt manches courtes - Blanc</span>
    					<span class="price-product col-2 p-0 text-right">29.99€</span>
	    			</div>
	    			<form class="form-product row w-100">
	    				<select class="custom-select size col ml-4">
					        <option selected disabled>Sélectionnez la taille</option>
							<option value="S" class="attached enabled">S</option>
	    					<option value="M" class="attached enabled">M</option>
	    					<option value="L" class="attached enabled">L</option>
	    					<option value="XL" class="attached enabled">XL</option>
				      	</select>
	    				<button class="btn btn-primary col ml-2 text-truncate" type="submit" name="add-cart">
	    					Ajouter au panier <i class="fas fa-cart-arrow-down"></i>
	    				</button>
	    			</form>
	    		</div>-->
	    	</div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
    </body>

	<script src="scripts/bootstrap-input-spinner/src/bootstrap-input-spinner.js"></script>
	<script>
	    $("input[type='number']").inputSpinner()
	</script>

    <script type="text/javascript">
        // actualise lors du changement de quantité
        $('.cart-pannel-main .cart-product-qty input').on("input", function (event) {
            var element = $(this)
            var price_element = element.parent().next();

            var price = parseFloat(price_element.attr('product_price'));
            price_element.text(element.val()*price+"€");

            $('.price-sub-total').text(function () {
                var sub_price = 0;
                $('.cart-pannel-main .cart-product-price').each(function () {
                    console.log(parseFloat($(this).text()));
                    sub_price += parseFloat($(this).text());
                });
                return sub_price.toFixed(2)+'€';
            });

            $('.price-total').text(function () {
                var total = parseFloat($('.price-shipping').text()) + parseFloat($('.price-sub-total').text());
                return total.toFixed(2)+'€';
            });

        });

        // actualise lorsque on supprime un produit
        $('form.form-remove-cart').submit(function () {
            var product_id = $(this).attr('product_id');

            // on modifie la page dynamiquement
            var element = $('.cart-pannel-main div.cart-product[product_id='+product_id+']'); 
            element.prev().remove();
            element.remove();

            // s'il n'y a plus rien dans le panier, on supprime le total et on ajoute le texte de vide
            if (!$('.cart-pannel-main .cart-product').length) {
                $('.cart-pannel-main').append(
                    `<div class="cart-empty text-center row"> 
                        <span class="col mt-5">Aucun produit dans le panier ...</span>
                    </div>`);
                
                $('.price-shipping').text("0.00€");
                $('.price-total').text("0.00€");
                $('.payout-button').prop("disabled", true);
            }

            $('.price-sub-total').text(function () {
                var sub_price = 0;
                $('.cart-pannel-main .cart-product-price').each(function () {
                    console.log(parseFloat($(this).text()));
                    sub_price += parseFloat($(this).text());
                });
                return sub_price.toFixed(2)+'€';
            });

            $('.price-total').text(function () {
                var total = parseFloat($('.price-shipping').text()) + parseFloat($('.price-sub-total').text());
                return total.toFixed(2)+'€';
            });
            return false;
         });
            
        // Valide le panier
        $('form[action="/valid-cart"]').submit(function () {
            var new_cart = [];
            // on construit un nouveau panier final
            $('.cart-pannel-main .cart-product').each(function () {
                var product = $(this);
                new_cart.push({
                    id: product.attr('product_id'), 
                    name: product.find('.cart-product-name a').text(),
                    price: product.find('.cart-product-price').attr('product_price'),
                    cart_qty: product.find('.cart-product-qty input').val(),
                });
            });

            $.post("/valid-cart", {
                cart: JSON.stringify(new_cart), // on converti l'objet pour bien le passer
                total_price: <%= price_total %>,
                shipping_price: <%= shipping_price %>,
                final_price: <%= price_final %>
            }).done( function (data) {
                if (data == "badCart") {
                    console.log("error occured")
                }
                else {
                    location.reload();
                }
            });
            return false;
        });

        // Valide le panier et passe au payement
        $('form[action="/payout"]').submit(function () {
            var new_cart = [];

            // on construit un nouveau panier final
            $('.cart-pannel-main .cart-product').each(function () {
                var product = $(this);
                new_cart.push({
                    id: product.attr('product_id'), 
                    name: product.find('.cart-product-name a').text(),
                    price: product.find('.cart-product-price').attr('product_price'),
                    cart_qty: product.find('.cart-product-qty input').val(),
                    img: product.find('img').attr('src').split('/')[2],
                });
            });

            $.post("/valid-cart", {
                cart: JSON.stringify(new_cart), // on converti l'objet pour bien le passer
                subtotal_cost: <%= price_total %>,
                shipping_cost: <%= shipping_price %>,
                total_cost: <%= price_final %>
            }).done( function (data) {
                if (data == "badCart") {
                    console.log("error occured")
                }
                else {
                    console.log(JSON.stringify(new_cart))
                    location.assign("/payout");
                }
            });
            return false;
        });


	</script>

</html>