
<!-- BREAKPOINT : MEDIUM -->

<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark d-flex">
    <!-- Toggle Menu when navbar is collapsed -->
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="/">
        <img class="" src="/img/logo2.png">
    </a>

    <form class="form-inline my-2 mw-100 d-none d-md-block" id="searchForm">
        <button class="btn color-white fas fa-search" type="submit"></button>
        <input class="" type="search" placeholder="Search" aria-label="Search" action="/search" method="POST">
    </form>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ml-auto">
            <% if (session.admin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin-products-list">Gestion des articles <i class="fa fa-cog"></i></a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="#">À propos</a>
            </li>
            <!-- VISIBLE EN MOBILE UNIQUEMENT -->
            <% if (session.logged) { %>
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="/account"> <%= session.username %> <i class="fa fa-user"></i></a>
                </li>
            <% } else { %>
                <li class="nav-item d-md-none">
                    <a class="nav-link" href="/login"> Se connecter <i class="fa fa-sign-in-alt"></i></a>
                </li>
            <% } %>
            <li class="nav-item d-md-none">
                <a class="nav-link" href="/cart"> Voir le panier <i class="fa fa-shopping-cart"></i></a>
            </li>
            <!---------------------------------->

            <!-- SWITCH BETWEEN ACCOUNT && LOGIN PANNEL -->
            <% if (session.logged) { %>
                <li class="dropdown nav-item d-none d-md-block">
                    <a class="nav-link dropdown-toggle" href="#" id="acccountDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user"></i> <%= session.username %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right w-auto" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/account/overview">Mon profil</a>
                        <a class="dropdown-item" href="/account/edit"><i class="fa fa-tools mr-2"></i> Paramètres</a>
                        <a class="dropdown-item" href="/quit"><i class="fa fa-power-off mr-2"></i>Se deconnecter</a>
                    </div>
                </li>
            <% } else { %>
                <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModal"> 
                        Se connecter <i class="fa fa-sign-in-alt"></i>
                    </a>
                </li>
            <% } %>
            <li class="dropdown nav-item d-none d-md-block">
                <a class="nav-link dropdown-toggle cart-dropdown" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if (session.cart) { 
                        var nb_total = 0;
                        for (var i=0; i< session.cart.products.length; i++) {
                            nb_total += parseInt(session.cart.products[i].cart_qty);
                        }
                    %>
                        <span><%= nb_total %></span>
                    <% } else { %>
                        <span>0</span> 
                    <% } %>
                    <i class="fa fa-shopping-cart"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right p-0" aria-labelledby="navbarDropdownMenuLink">
                    <div class="cart-pannel container">
                        <% if (session.cart) {
                            var price_total = 0;
                            for (var i=0; i < session.cart.products.length; i++) { 
                                var price_product = parseFloat(session.cart.products[i].price);
                                var cart_qty = parseInt(session.cart.products[i].cart_qty);
                                price_total += price_product * cart_qty; %>
                                <div class="cart-product row align-items-center" product_id="<%= session.cart.products[i].id %>"> 
                                    <img class="p-2 col-3" src="/img/<%= session.cart.products[i].img %>">
                                    <div class="col">
                                        <a href="/product/<%= session.cart.products[i].id %>" class="cart-product-name">
                                            <%= session.cart.products[i].name %>
                                        </a>
                                        <span class="ml-2">x</span>
                                        <span class="qty"><%= cart_qty %> </span>
                                    </div>
                                    <span class="cart-product-price col-3"><%= price_product %>€</span>
                                    <form class="form-remove-cart col-1" action="/remove-cart" method="post" product_id="<%= session.cart.products[i].id %>">
                                        <button type="submit" name="remove-cart" class="close" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </form>
                                </div>
                            <% } %>
                            <div class="cart-total p-3 d-flex justify-content-between">
                                <div class="cart-total-title">
                                    <big>TOTAL</big>
                                    <small>(Hors livraison)</small>
                                </div>
                                <span class="cart-total-price"><%= price_total %>€</span>
                            </div>
                            <div class="cart-check pb-3 row justify-content-center">
                                <a href="/cart" class="btn btn-secondary btn-sm col-4">Voir le panier</a>
                                </form>
                            </div>
                        <% } else { %>
                            <div class="cart-empty row align-items-center"> 
                                <span class="m-5 col"> Aucun produit dans le panier ...</span>
                            </div>
                        <% } %>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- NOTIFICATION -->
<% if (session.alert) { 
    switch (session.alert) {
        case 'login':
            var type = 'success';
            var quote = 'Vous connection a été effectuée avec succès !';
            var quoteTitle = 'Connecté !';
            break;

        case 'logout':
            var type = 'success';
            var quote = 'Vous avez bien été deconnecté !';
            var quoteTitle = 'Deconnecté !';
            break;

        case 'signup':
            var type = 'success';
            var quote = "L'inscription au site est réussie !";
            var quoteTitle = 'Bienvenue !';
            break;

        case 'email already used':
            var type = 'danger';
            var quote = "L'email est déjà utilisé par un autre compte ...";
            var quoteTitle = 'Erreur !';
            break;

        case 'cart':
            var type = 'success';
            var quote = "Le produit a bien été ajouté au panier";
            var quoteTitle = 'Ajouté !';
            break;

        case 'edit account':
            var type = 'success';
            var quote = "Vos informations de compte ont bien été modifiées";
            var quoteTitle = 'Modifications validées !';
            break;

        case 'add order':
            var type = 'success';
            var quote = "Vos commande a bien été prise en compte";
            var quoteTitle = 'Commande validée !';
            break;

        case 'remove product':
            var type = 'danger';
            var quote = "Le produit a bien été supprimé de la liste";
            var quoteTitle = 'Produit supprimé';
            break;

        case 'add product':
            var type = 'success';
            var quote = "Le produit a bien été ajouté à la liste";
            var quoteTitle = 'Produit ajouté';
            break;

        case 'edit product':
            var type = 'secondary';
            var quote = "Le produit a bien été modifié";
            var quoteTitle = 'Produit modifié';
            break;

        } %>
        <div class="notif-container row w-100 justify-content-center">
            <div class="alert alert-<%= type %> alert-dismissible fade show col-8" role="alert">
                <strong><%= quoteTitle %></strong> <%= quote %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
<% } %>

<!-- MODAL CONNEXION -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Se connecter à Ydogbe</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-4">
                <form action="/login" method="post" class="log-pannel offset-2 col-8 offset-2">
                    <div class="form-group form-row">
                        <input type="text" placeholder="Adresse email" class="form-control" name="email">
                        <div class="invalid-feedback">Veuillez rentrer une adresse email valide</div>
                    </div>

                    <div class="form-group form-row">
                        <input type="password" placeholder="Mot de passe" class="form-control" name="password">
                        <div class="invalid-feedback">Veuillez rentrer un mot de passe valide</div>
                    </div>

                    <div class="form-check form-row">
                        <input class="form-check-input" type="checkbox" id="logRemember" name="newsletter" value="yes">
                        <label for="logRemember">Rester connecté</label>
                    </div>
                    <div class="form-row">
                        <button type="submit" class="btn btn-primary w-100" data-dismiss="">Se connecter</button>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <span class="text-center w-100"> Pas encore de compte ? <a href="/subscribe">Créez un compte !</a></span>
            </div>
        </div>
    </div>
</div>

<!-- Import JS Bootstrap dependencies -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Import Font Awesome -->
<script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

<script type="text/javascript">
    /* On efface les cookies de session pour les notifications */
    $.post("resetNotif");

    /* Erreur à afficher pour le login */
    $('form[action="/login"]').submit(function () {
        var emailInput = $('.log-pannel input[type="text"]');
        var passwordInput = $('.log-pannel input[type="password"]');

        // On check les erreurs et on ajoute la classe en consequant
        if (!emailInput.val()) {
            emailInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else {
            emailInput.removeClass('is-invalid').addClass('is-valid');
        }
        if (!passwordInput.val()) {
            passwordInput.removeClass('is-valid').addClass('is-invalid');
            return false;
        } else {
            passwordInput.removeClass('is-invalid').addClass('is-valid');
        }

        $.post("/login", {
            email: emailInput.val(),
            password: passwordInput.val()
        })
        .done( function (data) {
            if (data == "badEmail") {
                console.log("bad email")
                emailInput.removeClass('is-valid').addClass('is-invalid');
            }
            else if (data == "badPassword") {
                console.log("bad password")
                passwordInput.removeClass('is-valid').addClass('is-invalid');
            }
            else {
                location.reload();
            }
        });

        return false; // on execute pas le submit normal
    });

    // Pour supprimer un objet du panier
    $('form.form-remove-cart').submit(function () {
        console.log("remove");
        var product_id = $(this).attr('product_id');
        var nb = parseFloat($('.cart-dropdown span').text());
        var div_empty = `<div class="cart-empty row align-items-center"> 
                                <span class="m-5 col"> Aucun produit dans le panier ...</span>
                            </div>`

        $.post("/remove-cart", {
            id: product_id, 
        })
        .done( function (data) {
            // on modifie le panier dynamiquement
            $('div.cart-product[product_id='+product_id+']').remove(); 
            $('.cart-dropdown span').text(nb-1);

            // s'il n'y a plus rien dans le panier, on supprime le total et on ajoute le texte de vide
            if (!$('.cart-product').length) {
                $('.cart-total').remove();
                $('.cart-check').remove();
                $('.cart-pannel').append(div_empty);

            }
        });
        return false; // on n'execute pas le submit normal
    });
</script>