<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-product.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">
        <title>YDOGBE</title>
    </head>
 
    <body>
    	<header>
            <%- include('navbar') %>
        </header>

        <main class="bg-light py-5">
            <div class="jumbotron bg-light m-0 w-100 text-center">
                <a class="logo-img" href="/mainpage">
                    <img class="col-md-5" src="/img/logo1.png">
                </a>
            </div>
    		<div class="container-fluid row m-0">
    			<div class="product-left col-md-7 px-md-5">
    				<div id="carouselProduct" class="carousel slide" data-ride="carousel">
					  	<div class="carousel-indicators row mb-3">
					  		<% for (var i=0; i< img.length; i++) { %>
								<div data-target="#carouselProduct" data-slide-to="<%= i %>" class="col">
						    		<img class="offset-3" src="/img/<%= img[i] %>">
						    	</div>
					  		<% } %>
					  	</div>
					  	<div class="carousel-inner rounded">
					  		<% for (var i=0; i< img.length; i++) { %>
						    	<div class="carousel-item <% if (!i) { %> active <% } %>">
						      		<img class="d-block w-100" src="/img/<%= img[i] %>">
						    	</div>
					    	<% } %>
					  	</div>
					  	<a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="sr-only">Previous</span>
					  	</a>
					  	<a class="carousel-control-next" href="#carouselProduct" role="button" data-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="sr-only">Next</span>
	  					</a>
					</div>
	    			<div class="info-product d-md-none d-block">
	    				<div class="w-100 border-bottom my-4"></div>
		    			<span class="desc mb-3 ml">
		    				<%= description %>
		    			</span>
		    			<div class="material mb-1">
		    				<span>Impression </span>
		    				<span>Impression sur papier <%= printing %></span>
		    			</div>
		    			<div class="size mb-1">
		    				<span>Dimension </span>
		    				<span>Affiche <%= size %></span>
		    			</div>
		    			<div class="ref mb-1">
		    				<span>Reference </span>
		    				<span><%= reference %></span>
		    			</div>
    				</div>
    			</div>
    			
    			<!------------------------- PC ONLY ------------------------------->
	    		<div class="product-payout col-md-4 d-none d-md-block p-0">
	    			<div class="sticky-top sticky-offset">
	    				<div class="row pb-2">
	    					<span class="title-product"><%= name %></span>
		    			</div>
		    			<div class="row pb-3">
		    				<span class="price-product"><%= price %>€</span>
		    			</div>
		    			<div class="w-100 border-bottom my-4"></div>
		    			<div class="info-product">
			    			<span class="row desc mb-3">
			    				<%= description %>
			    			</span>
			    			<div class="row material mb-1">
			    				<span>Impression </span>
			    				<span>Impression sur papier <%= printing %></span>
			    			</div>
			    			<div class="row size mb-1">
			    				<span>Dimension </span>
			    				<span>Affiche <%= size %></span>
			    			</div>
			    			<div class="row ref mb-1">
			    				<span>Reference </span>
			    				<span><%= reference %></span>
			    			</div>
	    				</div>
	    				<div class="w-100 border-bottom my-4"></div>
	    				<% if (available) {
	    					var class_available = "valid";
	    					var text_available = "En stock";
	    				} else {
	    					var class_available = "invalid";
	    					var text_available = "Non disponible";	
	    				} %>
		    			<div class="row mb-2">
		    				<small class="storage-info <%= class_available %>"><i class="fas fa-box"></i> <%= text_available %></small>
		    			</div>
		    			<div class="row">
			    			<form class="form-product">
			    				<!--<select class="custom-select size mb-3">
							        <option selected disabled>Sélectionnez la taille</option>
	    							<option value="S" class="attached enabled">S</option>
			    					<option value="M" class="attached enabled">M</option>
			    					<option value="L" class="attached enabled">L</option>
			    					<option value="XL" class="attached enabled">XL</option>
						      	</select>-->
						      	<% if (!available) { %>
			    				<button class="btn btn-primary w-100" disabled=true type="submit" name="add-cart">
			    					Indisponible à l'achat
			    				</button>
			    				<% } else { %>
			    				<button class="btn btn-primary w-100" type="submit" name="add-cart">
			    					Ajouter au panier <i class="fas fa-cart-arrow-down"></i>
			    				</button>
			    				<% } %>
			    			</form>
			    		</div>
	    			</div>
	    		</div>
	    	</div>
        </main>
        <footer>
            <%- include('footer') %>
        </footer>
		<!---------------------- MOBILE ONLY ---------------------------->
		<div class="sticky-bottom product-payout d-md-none d-block w-100 p-3 bg-light shadow-lg">
			<div class="row mx-2 mb-2">
				<span class="title-product col-10 p-0"><%= name %></span>
				<span class="price-product col-2 p-0 text-right"><%= price %>€</span>
			</div>
			<div class="row mx-2 mb-2">
				<small class="storage-info <%= class_available %>"><i class="fas fa-box"></i> <%= text_available %></small>
			</div>
			<form class="form-product row w-100" action="/add-cart" method="post">
				<!--<select class="custom-select size col ml-4">
			        <option selected disabled>Sélectionnez la taille</option>
					<option value="S" class="attached enabled">S</option>
					<option value="M" class="attached enabled">M</option>
					<option value="L" class="attached enabled">L</option>
					<option value="XL" class="attached enabled">XL</option>
		      	</select>-->
		      	<% if (!available) { %>
				<button class="btn btn-primary col ml-2 text-truncate" disabled=true type="submit" name="add-cart">
					Indisponible à l'achat
				</button>
				<% } else { %>
				<button class="btn btn-primary col ml-2 text-truncate" type="submit" name="add-cart">
					Ajouter au panier <i class="fas fa-cart-arrow-down"></i>
				</button>
				<% } %>
			</form>
		</div>
    </body>

    <script type="text/javascript">
		/* Change l'image de la gallerie */
		var imgGalery = $('.img-galery div').click(function () {
			/* On met à jour les bordures (si l'image est selectionnée) */
			$('.img-galery div').css('border-color', 'lightgray');
			$(this).css('border-color', 'black');

			/* on récupère l'image et on la remplace */
			var pathImg = $(this.innerHTML).attr('src');
			$('.main-img img').attr('src', pathImg);
		});


        /* Ajoute un produit au panier */;
        $('form.form-product').submit(function () {
        	$.post("/add-cart", {
                id: <%= id %>, 
	            reference: <%= reference %>,
	            name: "<%= name %>",
	            available: <%= available %>,
	            price: <%= price %>,
	            description: "<%= description %>",
	            size: "<%= size %>",
	            printing: "<%= printing %>",
	            category: "<%= category %>",
	            cart_qty: 1,
	            img: "<%= img[0] %>",
            })
            .done( function (data) {
                if (data == "error") {
                    console.log("error occured")
                }
                else {
                    console.log("cart added");
                    //location.reload();

                    if ($('.cart-product[product_id=<%= id %>]').length) {
                    	var qty = parseInt($('.cart-product[product_id=<%= id %>] span.qty').text());
                    	$('.cart-product[product_id=<%= id %>] span.qty').text(qty+1);
                    }
                    else {
	                    var cart_product = 
	                    	`<div class="cart-product row align-items-center" product_id="<%= id %>"> 
	                            <img class="p-2 col-3" src="/img/<%= img[0] %>">
	                            <div class="col">
		                            <a href="/product/<%= id %>" class="cart-product-name">
		                                <%= name %>
		                            </a>
		                            <span class="ml-2">x</span>
		                            <span class="qty">1</span>
		                        </div>
	                            <span class="cart-product-price col-3"><%= price %>€</span>
	                            <form class="form-remove-cart col-1" action="/remove-cart" method="post" product_id="<%= id %>">
	                                <button type="submit" name="remove-cart" class="close" aria-label="Close">
	                                    <span aria-hidden="true">&times;</span>
	                                </button>
	                            </form>
	                        </div>`

	                    // on modifie le panier dynamiquement
	                    if ($('div.cart-empty').length) {
	                    	$('div.cart-empty').after(
	                    	`<div class="cart-total p-3 d-flex justify-content-between">
	                                <div class="cart-total-title">
	                                    <big>TOTAL</big>
	                                    <small>(TTC - Hors livraison)</small>
	                                </div>
	                                <span class="cart-total-price">0€</span>
	                            </div>
	                            <div class="cart-check pb-3 row justify-content-center">
	                                <a href="/cart" class="btn btn-secondary btn-sm col-4">Voir le panier</a>
	                                </form>
	                            </div>`);
	                    	$('div.cart-empty').remove()
	                    }
	                	// on ajoute le produit ...
	                	$('div.cart-total').before(cart_product)
	                	$('form.form-remove-cart[product_id=<%= id %>]').submit(function () {
					        console.log("remove");
					        var product_id = $(this).attr('product_id');
					        var nb = parseFloat($('.cart-dropdown span').text());
					        var div_empty = `<div class="cart-empty row align-items-center"> 
					                                <span class="m-5 col"> Aucun produit dans le panier ...</span>
					                            </div>`

					        $.post("/remove-cart", {
					            id: product_id, 
					        })
					        .done( function (data) {
					            // on modifie le panier dynamiquement
					            $('div.cart-product[product_id='+product_id+']').remove(); 
					            $('.cart-dropdown span').text(nb-1);

					            // s'il n'y a plus rien dans le panier, on supprime le total et on ajoute le texte de vide
					            if (!$('.cart-product').length) {
					                $('.cart-total').remove();
					                $('.cart-check').remove();
					                $('.cart-pannel').append(div_empty);

					            }
					        });
					        return false; // on n'execute pas le submit normal
					    });
	                }

                	// ... et on modifie les prix total
                	var price_total = parseFloat($('.cart-total-price').text());
                	$('.cart-total-price').text(price_total+<%= price %>+"€");
                   	
                   	// puis on ajoute +1 au compteur du panier
                   	var nb = parseFloat($('.cart-dropdown span').text());
                   	$('.cart-dropdown span').text(nb+1);

                   	// on ajoute la notification
                   	var notif = $(`<div class="notif-container col-12">
						            <div class="alert alert-success alert-dismissible fade show" role="alert">
						                <strong>Ajouté ! </strong> "<%= name %>" a bien été ajouté au panier
						                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						                    <span aria-hidden="true">&times;</span>
						                </button>
						            </div>
						        </div>`);

                   	notif.insertBefore('#exampleModal');

                }	
            });
            return false; // on n'execute pas le submit normal
        });
    </script>

</html>