<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="/css/style-email.css">

<body>
    <div class="logo bg-light">
        <img class="col" src="/img/logo1.png">
    </div>
    <div class="content bg-light p-3">
		<div class="font-weight-bold d-flex justify-content-center mb-2"> Confirmation de votre commande </div>

		<div class="d-flex justify-content-center mb-4"> 
			<span> Merci <span id="name"><%= name %></span> pour votre commande ! </span>
		</div>
		<div> 
			<span> Voici ci-dessous et en pièce jointe le reçu de votre commande. Vous pourrez également la voir en détail ainsi que son avancement sur votre profil</span>
		</div>
	</div>
	<div class="order-products bg-light px-3">
		<div class="order-separator">
			<span class="font-weight-bold"> Numéro de commande : <%= order_id %></span>
			<span class="row m-0"> Adresse de facturation: <%= billing_address %></span>
			<span class="row m-0"> Adresse de livraison: <%= shipping_address %></span>
		</div>

		<div class="order-separator">
			<table class="table table-striped">
	            <thead>
	                <tr>
	                    <th class="p-1" scope="col">Images</th>
	                    <th class="p-1" scope="col">Nom</th>
	                    <th class="p-1" scope="col">Option</th>
	                    <th class="p-1" scope="col">Quantité</th>
	                    <th class="p-1" scope="col">Prix</th>
	                </tr>
	            </thead>
	            <tbody>
	                <% for (var i in products) { %>
	                    <tr>
	                        <td>
	                            <a class="product-img" href="/product/<%= products[i].id %>">
	                                <img class="col" src="/img/<%= products[i].img %>">
	                            </a>
	                        </td>
	                        <td><a href="/product/<%= products[i].id %>"><%= products[i].name %></a></td>
	                        <td><%= products[i].option %></td>
	                        <td>x<%= products[i].cart_qty %></td>
	                        <td><%= products[i].price %>€</td>
	                    </tr>
	                <% } %>
	            </tbody>
	        </table>
		</div>

		<div class="order-separator">
			<span class="row m-0">Sous-total: <%= subtotal_cost %>€</span>
			<span class="row m-0">Livraison: <%= shipping_cost %>€</span>
			<span class="font-weight-bold row m-0">Total: <%= total_cost %>€</span>
		</div>
		<div class="d-flex justify-content-center">
            <a href="https://ydogbe.store" class="w-auto btn btn-dark my-3">
                Visitez notre boutique
            </a>
		</div>
	</div>
</body>